<% if message.user_id == current_user.id %>
  <div  class="row">
    <div class="col-md-3 rounded bg-primary py-2 my-2 mx-2">
      <h5><%= message.user.username %></h5>
      <p><%= message.content %></p>
    </div>
  </div>
<% else %>
  <div  class="row justify-content-end">
    <div class="col-md-3 rounded bg-secondary py-2 my-2 mx-2">
      <h5><%= message.user.username %></h5>
      <p><%= message.content %></p>
    </div>
  </div>
<% end %>
